
@font-face {
   font-family: 'Myriad';
   src: url(../fonts/MyriadPro.ttf);
}

@font-face {
   font-family: 'Myriad Light';
   src: url(../fonts/MyriadProLight.otf);
}
@media (min-width: 767px) {
   // body {
   //    width: 1920px;
   // }
   .title{
      color: #000000;
      font-family: "Myriad";
      font-size: 50px;
      font-weight: 400; 
      &.title_logo{
         font-size: 40px;
      }
      &.info{
         color: #1d1d1d;
      }
      &.footer-title{
         color: #fff;
         line-height: 1.25;
      }
      &.sale-title{
         line-height: 33px;
         font-size: 40px;
      }
      &.main-title{
         font-size: 40px;
         color: #121212;
      }
   }
   .subtitle{
      color: #f3f1f1;
      font-family: "Myriad";
      font-size: 40px;
      font-weight: 400;
      &.slider{
         line-height: 1.05;
      }
      &.bottom-subtitle{
         color: #777777;
         letter-spacing: 1.3px;
      }
      &.logo-subtitle{
         color: #353535;
         font-size: 30px;
         line-height: 42px;
      }
      &.brands-subtitle{
         color: #282828;
         font-size: 30px;
         line-height: 66.93px;
      }
      &.offers-subtitle{
         color: #ffaf2d;
         font-size: 24px;
      }
      &.news-subtitle{
         font-size: 24px;
         color: #121212;;
      }
   }
   .desc{
      font-family: "Myriad Light";
      font-size: 30px;
      font-weight: 400;
   
      &.desc_logo{
         color: #777777;
         font-size: 30px;
         line-height: 1.3;
         letter-spacing: 0px;
      }
      &.recommend-desc {
         color: #777777;
         line-height: 36px;
      }
      &.desc-numbers{
         letter-spacing: 0px;
         line-height: 1.2;
      }
      &.button-desc{  
         font-size: 18px;
         color: #ffffff;
         line-height: 1.3;
         letter-spacing: -0.4px;
      }
      &.sale-desc{
         color: #faad3d;
         line-height: 4.2;
         letter-spacing: 1px;
         font-size: 16px;
      }
      &.cont-desc{
         line-height: 24px;
         color: #fff;
      }
      &.brands-desc{
         color: #282828;
      }
   }
   .text{
      font-family: "Myriad Light";
      font-size: 25px;
      font-weight: 300;
      &.info{
         color: #191919;
         font-size: 30px;
         line-height: 1.2;
      }
      &.footer-text{
         color: #777777;
         font-size: 31px;
         line-height: 0.6;
         letter-spacing: -0.2px;
      }
      &.slider-text{
         color: #777;
         font-size: 16px;
      }
      &.slider-text1{
         color: #fff;
         line-height: 0.5;
         font-size: 18px;
      }
      &.logo{
         color: #777777;
         line-height: 0.5;
      }
      &.sale-text{
         color: #191919;
         font-size: 18px;
         line-height: 39px;
      }
      
   }
   .slogan{
      font-family: 'Myriad Light';
      // font-weight: 100;
      font-size: 18px;
      &.logo-slogan{
         color: #777777;
         line-height: 7px;
         letter-spacing: 0.28px;
      }
      &.suppliers-slogan{   
         font-size: 14px;
         color: #777777;
         // color: #ffffff;
      }
      &.categories-slogan{
         font-family: "Myriad";
         font-size: 16px;
         color: #343434;
         // line-height: 26px;
      }
      &.offers-slogan{
         color: #303030;
         font-size: 16px;
      }
      &.producer-slogan{
         color: #00aa4b;
         font-size: 16px;
         font-family: "Myriad";
      }
   }
   
   .button{
      // border-radius: 27px;
      &:hover{
         box-shadow: 0 0 5px #f1f1f1;
      }
      &_orange{
         padding: 10px 20px 7px 19px;
         background-color: #faad3d;
      }
      &.button-news{
         padding: 9px 37px 7px 38px;
         border-radius: 17px;
         border: 2px solid #121212;
         color: #121212;

      }
   }

   .page {
      // max-width: 1920px;
   }
   .container {
      margin: 0 189px 0 188px;

      &.container-main-last{
      margin: 0;
      } 
   }
   .container-news{
         margin: 0 255px;
      }
   .container-main{
      margin: 0 188px 0 184px;
   }
   .container-eq{
      padding: 0 184px 0 185px;
   }
   .header-desktop{
      width: 100%;
      background: transparent;
      height: 211px;
      margin-bottom: 21px;
      
      .top-menu {
         background-image: url(../img/header-bg.png);

         display: block;
         height: 48px;
         margin: 0 auto;
         // background-color: #00aa4b;
         // & ul{
         //    display: flex;
         //    flex-direction: row;
         //    justify-content: space-between;
         // }
         & li{
            display: flex;
            flex-direction: row;
            align-items: center;
         }
         & a{
            color: #ffffff;
            font-family: "Myriad";
            font-size: 16px;
            font-weight: 400;
         }
         // & img{
         //    margin-right: 1px;
         // }
         .email-icon{
            margin-right: 1px;
            height: 14px;
            width: 15px;
         }
         .phone-icon{
            height: 16px;
            width: 16px;
         }
         .navigation{
            height: 48px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &-company{
               width: 26%;
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               padding-left: 0;
               padding-right: 2%;
               // & li:last-child::after{
               //    content: '|';
               //    color: #f3f1f1; 
               // }
            }
            &-clients{
               padding: 0 2%;
               width: 40%;
               display: flex;
               flex-direction: row;
               justify-content: space-between;
            }
            &-contacts{
               width: 37%;
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               padding-left: 2%;
               padding-right: 0;
            }
         }
      }
      .menu {
         height: 64px;
         .navigation-logo {
            width: 268px;
            .navigation-logo__nav {
               display: none;
            }
            &__logo{
               align-items: center;
               
               .logo-min {
                  margin-right: 5px;
                  height: 40px;
                  width: 40px;
                  // width: 55px;
               }
               .logo-text{
                  margin-top: 15px;
               }
               .subtitle.logo-subtitle{
                  font-size: 33px;
                  // line-height: 33px;
               }
               .logo-slogan{
                  display: none;
               }
            }
         }
         .search-form{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .search__categories{
               position: relative;
               border: 1px solid #e8e7e7;
               background-color: #f1f1f1;
               border-radius: 5px 0 0 5px;
               line-height: 35px;
               padding: 0 27px 0 16px;

               &::after{
                  content: '';
                  position: absolute;
                  left: 50px;
                  top: 15px;
                  background-image: url('../img/triangle.png');
                  width: 12px;
                  height: 6px;
               }
               .categories-all{
                  color: #777777;
                  font-family: "Myriad";
                  font-size: 16px;
                  font-weight: 400;
               }
            }
            .search-input input{
               width: 770px;
               background-color: #ffffff;
               border: none;
               height: 35px;
               
               & input{
                  border: none;
                  width: 100%;
                  padding: 0 10px;
                  outline: none;
               }
            }
            .search-button{
               align-items: center;
               & button{
                  background-color: #ffaf2d;
                  border: none;
                  line-height: 35px;
                  border-radius: 0 5px 5px 0;
                  padding: 0 14px;
                  & img{
                     vertical-align: middle
                  }
               }            
            }
         }
         .menu-suppliers{
            display: block;
            & a{
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               width: 140px;
               .suppliers-img{
                  width: 35px;
                  height: 35px;
                  opacity: 0.9;
                  vertical-align: middle;
                  border-style: none;
                  margin-right: 7px;
               }
            }
            
         } 


         &__facilities{
            .menu-icons{
               &:nth-of-type(3) {
                  position: relative;
                  width: 29px;
                  height: 27px;
                  margin-top: 20px;
                  margin-right: 12px;
                  color: #383838;
               }
               &:not(:nth-last-of-type(1)){
                  display: none;
               }
            }
            .menu-cart-text{
               display: flex;
               flex-direction: column;
               justify-content: center;
               .cart-sum{
                  color: #777777;
                  font-family: "Myriad Light";
                  font-size: 14px;
                  font-weight: 300;
                  line-height: 16px;
               }
            }
         }
      }
      .equipment-wrapper{
         
         box-shadow: 4px 6px 18px rgba(0, 0, 0, 0.11);
         background-color: #ffffff;
         .equipment{
            height: 100px;
            background-color: transparent;
            border: none;

            & div::after {
               display: none;
            }
            .equipment-desc{
               display: none;
            }
            .categories{
               width: 100%;
               .categories-list{
                  // width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;

                  .categories-item{
                     display: flex;
                     flex-direction: column;
                     align-items: center;

                     .categories-img{
                        width: 57px;
                        height: 57px;
                        border-radius: 50%;
                        margin-bottom: 5px; 
                     }
                  }
                  
                  
               }
            }
            
         }
      }
   }

   .main-block {
      margin-bottom: 20px;

      .main-content-wrapper{
         display: grid;
         grid-template-columns: 303px 902px 300px;
         column-gap: 21px;
         // display: flex;
         // flex-direction: row;
         // justify-content: space-between;
         .offers{
            // width: 19.4%;
            background-color: #fff;

           .offers-title{
            padding: 32px 30px 22px 27px;

           } 
           .offers-list-wrapper{
              padding: 0 18px 8px 28px;

               .offers-list{
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
      
                  & li{
                     padding: 12px 0;
                     border-bottom: 1px solid rgba(186,186,186, 0.25);

                     &:last-child{
                        border-bottom: none;
                     }
                     &::after{
                        content: '>';
                        float: right;
                        color: rgba(48, 48, 48, 0.4);
                     }
                     &:first-child{
                        padding-top: 0;
                     }
                     &:last-child{
                        padding-bottom: 0;
                     }
                  }
               }
            }
         }
         
         .slider-container{
            height: 476px;
            padding: 37px 54px 44px 68px;

            .slider-wrapper{
               margin-bottom: 76px;
               .slider__content {
                  div:first-child {
                  margin-bottom: 66px;}
               // width: 58.4%;
                  div:nth-child(2){
                     margin-bottom: 20px;
                  }
                  div:nth-child(3){
                     margin-bottom: 78px;
                  }
               }
               .slider__img img{
                  width: 256px;
                  height: 357px; 
                  right: 82px;
                  top: 71px;   
               }
            }
            
            
            .slider-pagination{
               // & div:not(:last-child){
               //    margin-right: 16px;
               // }
               &__bullet {
                  width: 10px;
                  height: 10px;
               }
            }
            .slider-button-next, 
            .slider-button-prev{
               display: none;
            }
            
            
            
         }
         .sale{
            padding: 219px 0 0 28px;
            // width: 19.4%;

            &-content {
               .sale-img {
                  width: 70px;
                  height: 86px;
               }
            }
         }
      }
      
   }

   .brands {
      display: flex;
      height: 101px;
      grid-row-gap: 0;
      grid-template-columns:  repeat(6, 1fr);
      margin-bottom: 168px;
      // position: relative;
      // margin-bottom: 140px;
      
      & > div:not(:last-child) {
         border-right: 1px solid #e8e7e7;;
      }
      & :nth-child(odd) {
         &::after {
            display: none;
         }
      }
      // & > div::after {
      //       content: '';
      //       background-image: url('../img/divider.png');
      //       width: 2px;
      //       height: 71px;
      //       // position: absolute;
      //       // left: 10px;
      //    }
      & div {
         // width: 345.5px;
         height: 100px;
         line-height: 5px;
         // display: flex;
         // justify-content: center;
         // align-items: center;
         // background-color: #ffffff;
         & a{
            & img{
               height: 32px;
            }
         }
         // &::after {
         //    content: '';
         //    background-image: url('../img/divider.png');
         //    width: 2px;
         //    height: 71px;
         //    // position: absolute;
         //    // left: 10px;
         // }
      }
   }

   .main-news{
      display:block;
      margin-bottom: 172px;
      .container-news{
         .main-title{
            margin-bottom: 42px;
         }
         .news-content{
            display: flex;
            flex-direction: row;

            .news-left{
               max-width: 488px;
               margin-right: 105px;
               margin-bottom: 58px;
               .news-left__item{
                  
                  .news-left__img{
                     // max-height: 305px;
                     & img{
                        margin-bottom: 20px;
                     }
                  }
                  .news-left__text{
                     .news-left__data{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-bottom: 12px;
                     }
                     .news-left__subtitle{
                        margin-bottom: 15px;
                     }
                  }
               }
            }
            .news_right{
               .news-right__item{
                  display: flex;
                  flex-direction: row;
                  &:not(:last-child){
                     margin-bottom: 36px;
                  }
                  .news_right__img{
                     margin-right: 20px;
                  }
                  .news-right__text{
                     .news-right__data{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-bottom: 7px;
                     }
                     .data_middle{
                        flex-direction: column;
                     }
                     .news-right__subtitle{
                        margin-bottom: 15px;
                     }
                  }
               }
            }
         }
      }
   }
   
}