@font-face {
  font-family: 'Myriad';
  src: url(../fonts/MyriadPro.ttf);
}

@font-face {
  font-family: 'Myriad Light';
  src: url(../fonts/MyriadProLight.otf);
}

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  background-color: #f1f1f1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  font-family: "Myriad Light";
}

a {
  color: #000000;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  color: #000000;
  font-family: "Myriad";
  font-size: 50px;
  font-weight: 400;
}

.title.title_logo {
  font-size: 40px;
}

.title.info {
  color: #1d1d1d;
}

.title.footer-title {
  color: #fff;
  line-height: 1.25;
}

.title.sale-title {
  line-height: 66px;
}

.subtitle {
  color: #f3f1f1;
  font-family: "Myriad";
  font-size: 40px;
  font-weight: 400;
}

.subtitle.slider {
  line-height: 1.05;
}

.subtitle.bottom-subtitle {
  color: #777777;
  letter-spacing: 1.3px;
}

.subtitle.logo-subtitle {
  color: #353535;
  font-size: 30px;
  line-height: 42px;
}

.subtitle.brands-subtitle {
  color: #282828;
  font-size: 30px;
  line-height: 66.93px;
}

.desc {
  font-family: "Myriad Light";
  font-size: 30px;
  font-weight: 400;
}

.desc.desc_logo {
  color: #777777;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0px;
}

.desc.recommend-desc {
  color: #777777;
  line-height: 36px;
}

.desc.desc-numbers {
  letter-spacing: 0px;
  line-height: 1.2;
}

.desc.button-desc {
  color: #ffffff;
  line-height: 1.4;
  letter-spacing: -1.1px;
}

.desc.sale-desc {
  color: #faad3d;
  line-height: 93px;
  letter-spacing: 0px;
}

.desc.cont-desc {
  line-height: 24px;
  color: #fff;
}

.desc.brands-desc {
  color: #282828;
}

.text {
  font-family: "Myriad Light";
  font-size: 25px;
  font-weight: 300;
}

.text.text-info {
  color: #191919;
  font-size: 30px;
  line-height: 1.2;
}

.text.footer-text {
  color: #777777;
  font-size: 31px;
  line-height: 0.6;
  letter-spacing: -0.2px;
}

.text.slider-text {
  color: #777;
}

.text.slider-text1 {
  color: #fff;
  line-height: 0.5;
}

.text.logo {
  color: #777777;
  line-height: 0.5;
}

.text.sale-text {
  color: #191919;
}

.slogan {
  font-family: 'Myriad Light';
  font-weight: 100;
  font-size: 18px;
}

.slogan.logo-slogan {
  color: #777777;
  line-height: 7px;
  letter-spacing: 0.28px;
}

.page {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.top-menu {
  display: none;
}

.container {
  margin-left: 29px;
  margin-right: 45px;
}

.container-rec {
  padding: 0px 43px 0 29px;
}

.container-main {
  margin: 0;
}

.button {
  border-radius: 27px;
}

.button:hover {
  -webkit-box-shadow: 0 0 5px #faad3d;
          box-shadow: 0 0 5px #faad3d;
}

.button_orange {
  padding: 13px 35px 9px 32px;
  background-color: #faad3d;
}

.header-desktop .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 99px;
}

.header-desktop .menu .navigation-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-desktop .menu .navigation-logo .nav-circle {
  display: block;
  margin-right: 31px;
}

.header-desktop .menu .navigation-logo__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-desktop .menu .navigation-logo__logo .logo-min {
  height: 55px;
  width: 55px;
  margin-right: 10px;
}

.header-desktop .menu .search-form {
  display: none;
}

.header-desktop .menu .menu-suppliers {
  display: none;
}

.header-desktop .menu__facilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 57px;
  cursor: pointer;
}

.header-desktop .menu__facilities .menu-icons {
  height: 57px;
}

.header-desktop .menu__facilities .menu-icons:nth-of-type(2) {
  margin-right: 34px;
  margin-left: 40px;
}

.header-desktop .menu__facilities .menu-icons:nth-of-type(3) {
  position: relative;
  width: 56px;
  height: 50px;
  margin-top: 6px;
}

.header-desktop .menu__facilities .cart-desc {
  display: none;
}

.header-desktop .equipment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 83px;
  border-top: 1px solid #e2e2e2;
  background-color: #f1f1f1;
  cursor: pointer;
}

.header-desktop .equipment div::after {
  content: '>';
  color: #777777;
}

.header-desktop .equipment .categories .categories-list {
  display: none;
}

.main-block .main-content-wrapper .offers {
  display: none;
}

.main-block .main-content-wrapper .slider-container {
  position: relative;
  height: 556px;
  width: 100%;
  background-color: #282828;
}

.main-block .main-content-wrapper .slider-container .slider-wrapper {
  text-align: left;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 62px 312px 77px 31px;
}

.main-block .main-content-wrapper .slider-container .slider-wrapper .slider__content {
  padding-top: 22px;
}

.main-block .main-content-wrapper .slider-container .slider-wrapper .slider__content div:first-child {
  margin-bottom: 44px;
}

.main-block .main-content-wrapper .slider-container .slider-wrapper .slider__content div:nth-child(2) {
  margin-bottom: 30px;
}

.main-block .main-content-wrapper .slider-container .slider-wrapper .slider__content div:nth-child(3) {
  margin-bottom: 51px;
}

.main-block .main-content-wrapper .slider-container .slider-wrapper .slider__content .text-up {
  text-align: left;
}

.main-block .main-content-wrapper .slider-container .slider-wrapper .slider__img img {
  position: absolute;
  right: 53px;
}

.main-block .main-content-wrapper .slider-container .slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-block .main-content-wrapper .slider-container .slider-pagination div:not(:last-child) {
  margin-right: 16px;
}

.main-block .main-content-wrapper .slider-container .slider-pagination__bullet {
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  cursor: pointer;
}

.main-block .main-content-wrapper .slider-container .slider-pagination__bullet:hover {
  background: #fff;
}

.main-block .main-content-wrapper .slider-container .slider-pagination__bullet_active {
  background: #fff;
}

.main-block .main-content-wrapper .slider-container .slider-button-next {
  right: 53px;
  background-image: url(../img/arr-next.png);
  top: 88%;
  position: absolute;
  width: 12px;
  height: 25px;
  cursor: pointer;
}

.main-block .main-content-wrapper .slider-container .slider-button-next:hover {
  -webkit-box-shadow: #faad3d;
          box-shadow: #faad3d;
}

.main-block .main-content-wrapper .slider-container .slider-button-prev {
  left: 36px;
  background-image: url(../img/arr-prev.png);
  position: absolute;
  top: 88%;
  width: 12px;
  height: 25px;
  cursor: pointer;
}

.main-block .main-content-wrapper .sale {
  background-color: #fff;
  height: 476px;
  padding: 80px 58px;
  margin: 30px 46px 30px 30px;
  border-radius: 2px;
  border: 2px solid #faad3d;
}

.main-block .main-content-wrapper .sale .sale-img {
  width: 118px;
  height: 146px;
  margin-bottom: 17px;
}

.main-block .main-content-wrapper .sale .sale-desc:hover::after {
  content: ' >';
}

.main-block .main-content-wrapper .sale .sale-desc:hover {
  cursor: pointer;
}

.brands {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 0.2px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
  margin-bottom: 141px;
}

.brands :nth-child(odd)::after {
  content: '';
  background-image: url("../img/divider.png");
  width: 2px;
  height: 87px;
  position: absolute;
  left: 50%;
}

.brands div {
  width: 345.5px;
  height: 171px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.brands div a img {
  height: 60px;
}

.main-news {
  display: none;
}

.recommend {
  margin-bottom: 153px;
}

.recommend-text__wrapper {
  margin-bottom: 72px;
}

.recommend-text {
  text-align: center;
  padding-left: 16px;
  padding-right: 17px;
}

.recommend-text__title {
  margin-bottom: 12px;
}

.recommend .recommend-list .recommend-item {
  height: 483px;
  background-color: #ffffff;
}

.recommend .recommend-list .recommend-item.rec-first {
  padding: 30px 0 0 67px;
  margin-bottom: 10px;
}

.recommend .recommend-list .recommend-item.black {
  background: #282828;
  padding: 53px 41px 0 0;
  margin-bottom: 10px;
}

.recommend .recommend-list .recommend-item.hallde {
  padding: 71px 0 0 68px;
}

.recommend .recommend-list .recommend-item a {
  width: 100%;
}

.recommend .recommend-list .recommend-item__img {
  width: 233px;
  height: 453px;
  float: right;
}

.recommend .recommend-list .recommend-item__img.left {
  float: left;
  width: 232px;
  height: 398px;
}

.recommend .recommend-list .recommend-item__img.hallde {
  width: 241px;
  height: 371px;
}

.recommend .recommend-list .recommend-item__text {
  margin-top: 82px;
}

.recommend .recommend-list .recommend-item__text.left {
  margin-left: 276px;
  margin-top: 15px;
}

.recommend .recommend-list .recommend-item__text.hallde {
  margin-top: 63px;
}

.recommend .recommend-list .recommend-item__name {
  text-transform: uppercase;
  margin-bottom: 11px;
}

.recommend .recommend-list .recommend-item__name.black {
  color: #ffffff;
  margin-bottom: 20px;
}

.recommend .recommend-list .recommend-item__name.hallde {
  margin-bottom: 6px;
}

.recommend .recommend-list .recommend-item__category {
  color: #191919;
  margin-bottom: 45px;
}

.recommend .recommend-list .recommend-item__category span {
  display: block;
}

.recommend .recommend-list .recommend-item__category.black {
  color: #ffffff;
  margin-bottom: 54px;
}

.recommend .recommend-list .recommend-item__category.hallde {
  margin-bottom: 43px;
}

.recommend .recommend-list .recommend-item__desc {
  color: #777777;
}

.recommend .recommend-list .recommend-item.rec-left, .recommend .recommend-list .recommend-item.rec-right {
  display: none;
}

.about-us .container-about {
  padding: 0px 43px 0 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.about-us .container-about .company-info {
  margin-left: 57px;
  margin-bottom: 129px;
}

.about-us .container-about .company-info .logo__img {
  margin-bottom: 51px;
}

.about-us .container-about .company-info .company {
  margin-top: 61px;
  margin-bottom: 33px;
}

.about-us .container-about .about {
  margin-bottom: 54px;
}

.about-us .container-about .about div:first-child {
  margin-bottom: 51px;
}

.about-us .container-about .about div:last-child {
  display: none;
}

.plus {
  margin-bottom: 151px;
  cursor: pointer;
}

.plus img {
  margin-left: 30px;
}

.contacts {
  background-color: #282828;
  padding: 50px 68px 39px 51px;
}

.contacts .contacts-title {
  padding: 35px 0;
  cursor: pointer;
  border-bottom: solid 1px #4b4b4b;
}

.contacts .contacts-title::after {
  content: '+';
  float: right;
}

.contacts .contacts-list {
  display: none;
}

.footer {
  background-color: #1f1f1f;
  padding: 45px 68px 39px 49px;
}

.footer .footer-content .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 29px;
}

.footer .footer-content .footer-logo img {
  margin-right: 24px;
}
/*# sourceMappingURL=style.css.map */