@font-face {
   font-family: 'Myriad';
   src: url(../fonts/MyriadPro.ttf);
}

@font-face {
   font-family: 'Myriad Light';
   src: url(../fonts/MyriadProLight.otf);
}

* {
   padding: 0px;
   margin: 0px;
   text-decoration: none;
}

html,
body {
   height: 100%;
   width: 100%;
   background-color: #f1f1f1;
   box-sizing:border-box;
}
div{
   box-sizing:border-box;

}

.page {
   height: 100vh;
   max-width: 767px;
   margin: 0 auto;
}

@media (min-width: 767px) {
   .page {
      width: 1920px;
   }
}

.container {
   margin-left: 29px;
   margin-right: 46px;
}

.menu {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 99px;

   &__navigation-logo {
      display: flex;
      flex-direction: row;
      align-items: center;

      & img {
         margin-right: 31px;
      }

      &__logo {
         height: 55px;
         display: flex;
         flex-direction: row;

         & img {
            margin-right: 10px;
         }

         & p {
            margin: 0;
         }

         & p:first-child {
            font-family: 'Myriad';
            color: #353535;
            font-size: 30px;
            font-weight: 400;
            line-height: 42px;
         }

         & p:last-child {
            font-family: 'Myriad Light';
            font-weight: 100;
            font-size: 18px;
            color: #777777;
            line-height: 7px;
            letter-spacing: 0.25px;
         }
      }

      &__nav {
         height: 73px;
      }
   }

   &__facilities {
      display: flex;
      flex-direction: row;
      height: 57px;

      & img {
         height: 57px;

         &:nth-child(2) {
            margin-right: 34px;
            margin-left: 40px;
         }

         &:last-child {
            width: 56px;
            height: 50px;
            margin-top: 6px;
         }
      }
   }
}

.equipment {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 83px;
   border-top: 1px solid #e2e2e2;
   background-color: #f1f1f1;

   & span {
      color: #000000;
      font-family: "Myriad Light";
      font-size: 30px;
      font-weight: 400;
   }

   & button {
      font-family: "Myriad Light";
      border: none;
      font-size: 35px;
      font-weight: 100;
      color: #777777;
      padding: 0;
      letter-spacing: -2px;
   }
}

.sale {
   background-color: #fff;
   height: 477px;
   padding: 82px 59px;
   margin-top: 30px;
   margin-bottom: 30px;
   border-radius: 2px;
   border: 2px solid #faad3d;

   &-text {
      & img {
         width: 118px;
         height: 146px;
         margin-bottom: 26px;
      }

      & span {

         & :first-child {
            font-size: 25px;
            font-weight: 300;
            line-height: 16px;
            color: #191919;
            font-family: "Myriad Light";
         }

         & :nth-child(2) {
            color: #000;
            font-family: "Myriad";
            font-size: 50px;
            font-weight: 300;
            line-height: 81px;
         }

         & :nth-child(3) {
            color: #faad3d;
            font-family: "Myriad Light";
            font-weight: 300;
            font-size: 30px;
            margin-top: 21px;
         }
      }
   }
}

.brands {
   display: grid;
   grid-row-gap: 0.2px;
   grid-template-columns: 1fr 1fr;
   position: relative;
   margin-bottom: 140px;

   & :nth-child(odd) {
      &::after {
         content: '';
         background-image: url('../img/divider.png');
         width: 2px;
         height: 87px;
         position: absolute;
         left: 50%;
      }
   }

   & :nth-child(1) a img {
      width: 242px;
      height: 50px;
   }

   & :nth-child(2) a img {
      width: 225px;
      height: 58px;
   }

   & :nth-child(3) {
      margin-top: 3px;
      margin-bottom: 3px;

      & a img {
         width: 218px;
         height: 55px;
      }
   }

   & :nth-child(4) {
      margin-top: 3px;
      margin-bottom: 3px;

      & a img {
         width: 224px;
         height: 55px;
      }
   }

   & :nth-child(5) a img {
      width: 243px;
      height: 62px;
   }

   & :last-child a p {
      color: #282828;
      font-family: "Myriad";
      font-size: 30px;
      font-weight: 400;
      line-height: 66.93px;
   }

   & div {
      width: 345.5px;
      height: 169px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
   }
}

.recommend {
   margin-bottom: 153px;
   &-text__wrapper{
      margin-bottom: 73px;
   }
   &-text{
      text-align: center;
      padding-left: 16px;
      padding-right: 18px;

      &__title{
         color: #000000;
         font-family: "Myriad Pro";
         font-size: 50px;
         font-weight: 400;
         margin-bottom: 12px;
      }

      &__description {
         & p {
            color: #777777;
            font-family: "Myriad Light";
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
         }
      }
   }
   
   &-item{
      height: 483px;
      background-color: #ffffff;
      padding: 30px 0 0 67px;
      margin-bottom: 10px;
      &.black {
         background: #282828; 
         padding: 53px 41px 0 0;
      }
      &.hallde{
         padding: 71px 0 0 68px;
      }
      & a{
         width: 100%;
      }
      &__img{
         width: 233px;
         height: 453px;
         float: right; 
         &.left{
            float: left;
            width: 232px;
            height: 398px;
         }
         &.hallde{
            width: 241px;
            height: 371px;
         }
      }
      &__text{
         margin-top: 82px;
         &.left{
            margin-left: 276px;
            margin-top: 15px;
         }
         &.hallde{
            margin-top: 63px;
         }
      }
      &__name{
         color: #191919;
         font-family: "Myriad Light";
         font-size: 30px;
         font-weight: 400;
         text-transform: uppercase;
         margin-bottom: 10px;
         &.black{
            color: #ffffff;
            margin-bottom: 20px;
         }
         &.hallde{
            margin-bottom: 6px;
         }
      }
      &__category{
         color: #191919;
         font-family: "Myriad";
         font-size: 40px;
         font-weight: 400;
         margin-bottom: 45px;
         &.black{
            color: #ffffff;
            margin-bottom: 54px;
         }
         &.hallde{
            margin-bottom: 43px;
         }
      }
      &__desc{
         color: #777777;
         font-family: "Myriad Light";
         font-size: 25px;
         font-weight: 400;
      }
   }
}
.company-info{
   margin-left: 86px;
   margin-bottom: 127px;
}
.logo{
   &__img{
      margin-bottom: 51px;
   }
}
.title{
   color: #000000;
   font-family: "Myriad";
   font-size: 50px;
   font-weight: 400; 
   &.logo{
      font-size: 40px;
   }
   &.info{
      color: #1d1d1d;
   }
   &.footer-title{
      color: #fff;
      line-height: 1.3;
   }
}
.text{
   color: #777777;
   font-family: "Myriad Light";
   font-size: 25px;
   font-weight: 300;
   line-height: 0.5;
   &.logo{
      font-size: 30px;
      line-height: 1.3;
   }
   &.info{
      font-family: "Myriad Light";
      font-weight: 300;
      color: #191919;
      font-size: 30px;
      line-height: 1.2;
   }
   &.footer-text{
      font-size: 31px;
   }
}
.company{
   margin-top: 61px;
   margin-bottom: 33px;
}
.numbers{
   & p{
      font-family: "Myriad Light";
      color: #000000;
      font-size: 30px;
      font-weight: 400;
   }
}
.about{
   margin-bottom: 54px;
   & div:first-child{
   margin-bottom: 51px;
   }
} 
.plus{
   margin-bottom: 152px;
   cursor: pointer;
}
.contacts{
   padding:  50px 68px 39px 51px;
   & * div {
      padding: 35px 0;
      color: #ffffff;
      font-family: "Myriad Light";
      font-size: 30px;
      font-weight: 400;
      line-height: 24px;
      cursor: pointer;
      border-bottom: solid 1px #4b4b4b;
      &::after{
         content: '+';
         float: right;
      }
   }
   & div {
      
   }
   background-color: #282828;
   &__information{

   }
}
.footer{
   background-color: #1f1f1f;
   padding: 45px 68px 39px 49px;
   &-logo{
      display: flex;
      flex-direction: row;
      margin-bottom: 29px;
      & img{
         margin-right: 24px;
      }
   }
   &-bottom-text{
      color: #777777;
      font-family: "Myriad Light";
      font-size: 40px;
      font-weight: 300;
   }
}

