html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
   height: 556px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: rgb(78, 73, 73);

}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination {
   background-color: red;
   width: 25px;
   height: 25px;
   border-radius: 100%;
   margin: 0 auto;
   margin-top: 20px;
 }
.swiper-button-next{
   background-color: red;
   width: 25px;
   height: 25px;
}
.swiper-button-prev{
   background-color: red;
   width: 25px;
   height: 25px;
}